@import '../base/colores';
.card{
    .content {
        position: absolute;
        height: 100%;
        .btn-see-more {
            position: absolute;
            bottom: 0;
            transform: translate(-50%, -50%);
            padding: 10px 50px 10px 40px;
            border: 2px solid $button-background;
            text-decoration: none;
            color: $button-background;
            transition: .5s;
            &:hover {
                color: $color-fondo-sitio;
                span {
                    &:nth-child(1) {
                        &::before {
                            transform: scale(1);
                        }
                    }
                    &:nth-child(2) {
                        &::before {
                            transform: scale(1);
                        }
                    }
                }
            }
            span {
                &:nth-child(1) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: $button-background;
                        z-index: -1;
                        transform: scale(0);
                        transition: .5s;
                    }
                }
                &:nth-child(2) {
                    position: absolute;
                    top: 50%;
                    right: -16px;
                    display: block;
                    transform: translateY(-50%);
                    padding: 2px 5px;
                    border: 2px solid $button-background;
                    background: $color-fondo-sitio;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: $button-active;
                        z-index: -1;
                        transition: .5s;
                        transform: scale(0);
                    }
                }
            }
        }
    }
}
// Botones de edición y eliminado
.btns {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    .btn {
        position: relative;
        width: 200px;
        height: 50px;
        margin: 15px 10px;
        color: $color-fondo-sitio;
        background: $button-background;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 100%;
            background: $btn-login;
            transition: .5s ease-in-out;
            transition-delay: 0s;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: 100%;
            background: $btn-login;
            transition: .5s ease-in-out;
            transition-delay: 0s;
        }
        &:nth-child(2) {
            &::before {
                background: $btn-registro;
            }
            &::after {
                background: $btn-registro;
            }
        }
        &:hover {
            &::after, &::before {
                width: 50%;
                transition-delay: 0s;
            }
            span {
                &:nth-child(1) {
                    transform: scale(0);
                    transition-delay: 0;
                }
                &:nth-child(2) {
                    transform: scale(1.5);
                    transition-delay: 0.25s;
                    opacity: 1;
                    z-index: 10;
                }
            }
        }
        span {
            position: absolute;
            z-index: 1;
            font-size: 18px;
            transition: .5s;
            &:nth-child(1) {
                transition-delay: 0;
            }
            &:nth-child(2) {
                transform: scale(5);
                opacity: 0;
            }
        }
    }
}
// Ir al cielo
.top-to-btm{
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: $btn-login;
    color: $titulo-footer;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: .5s ;
    z-index: 2;
    &.active {
        bottom: 40px;
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 426px) {
    .btns {
        flex-direction: column;
    }
}