.collections {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    .card {
        position: relative;
        max-width: 300px;
        height: 215px;
        background: var(--color-fondo-menu);
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        color: var(--color-fondo-sitio);
        box-shadow: 0 5px 202px var(--sombra-1);
        transition: .3s ease-in-out;
        &:hover {
            height: 420px;
            .content {
                visibility: visible;
                opacity: 1;
                margin-top: -40px;
            }
        }
        .imgBox {
            position: relative;
            width: 260px;
            height: 260px;
            top: -60px;
            box-shadow: 0 5px 20px var(--sombra-2);
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
        .content {
            position: relative;
            margin-top: -140px;
            padding: 10px 15px;
            text-align: center;
            color: var(--color-fondo-sitio);
            visibility: hidden;
            opacity: 0;
            transition: .3s ease-in-out;
        }
    }
}