@import '../base/colores';

.loginForm {
    min-height: 100vh;
    background: $login-fondo-1;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
        background: $login-fondo-active;
    }
    .containerForm {
        position: relative;
        width: 800px;
        height: 500px;
        margin: 20px;
        .blueBg {
            position: absolute;
            top: 40px;
            width: 100%;
            height: calc(500px - 40px * 2);
            background: rgba(255, 255, 255, .2);
            box-shadow: 0 5px 45px rgba(0, 0, 0, .15);
            display: flex;
            justify-content: center;
            align-items: center;
            .box {
                position: relative;
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h2 {
                    color: $color-fondo-sitio;
                    font-size: 1.2em;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                button {
                    cursor: pointer;
                    padding: 10px 20px;
                    background: $color-fondo-sitio;
                    color: #333;
                    font-size: 16px;
                    font-weight: 500;
                    border: none;
                }
            }
        }
        .formBox {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: $color-fondo-sitio;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 5px 45px rgba(0, 0, 0, .25);
            transition: .5s ease-in-out;
            overflow: hidden;
            &.active {
                left: 50%;
                .signin {
                    left: -100%;
                    transition-delay: 0;
                }
                .form {
                    &.signup {
                        left: 0;
                        transition-delay: .25s;
                        input[type=submit] {
                            background: $btn-registro;
                        }
                    }
                }
            }
            .signin {
                transition-delay: .25s;
            }
            .form {
                position: absolute;
                left: 0;
                width: 100%;
                padding: 50px;
                transition: .5s;
                &.signup {
                    left: 100%;
                    transition-delay: 0;
                }
                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    h3 {
                        font-size: 1.5em;
                        color: #333;
                        margin-bottom: 20px;
                        font-weight: 500;
                    }
                    input {
                        width: 100%;
                        margin-bottom: 20px;
                        padding: 10px;
                        outline: none;
                        font-size: 16px;
                        border: 1px solid #333;
                        &[type=submit] {
                            background: $btn-login;
                            border: none;
                            color: $color-fondo-sitio;
                            max-width: 100px;
                            cursor: pointer;
                        }
                    }
                    .forgot {
                        color: #333;
                    }
                    .inputBox {
                        position: relative;
                        i {
                            position: absolute;
                            left: 0;
                            padding: 8px 10px;
                            color: $form-input;
                            transition: .5s;
                            pointer-events: none;
                        }
                        span {
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            right: 2%;
                            top: 10%;
                            background: rgba(0, 0, 0, 0.05);
                            border-radius: 50%;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &::before {
                                content: '\f06e';
                                font-family: fontAwesome;
                            }
                            &.hide {
                                &::before {
                                    content: '\f070';
                                    font-family: fontAwesome;
                                }
                            }
                        }
                        input {
                            &:focus {
                                ~i {
                                    transform: translateY(-25px);
                                    font-size: 0.8em;
                                }
                            }
                            &:valid {
                                ~i {
                                    transform: translateY(-25px);
                                    font-size: 0.8em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 769px) {
    .loginForm {
        .containerForm {
            max-width: 400px;
            height: 650px;
            display: flex;
            justify-content: center;
            align-items: center;
            .blueBg {
                top: 0;
                height: 100%;
                .box {
                    position: absolute;
                    width: 100%;
                    height: 150px;
                    bottom: 0;
                    &.signin {
                        top: 0;
                    }
                }
            }
            .formBox {
                width: 100%;
                height: 500px;
                top: 0;
                box-shadow: none;
                &.active {
                    left: 0;
                    top: 150px;
                }
            }
        }
    }
}